# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Git
.git
.gitignore

# CI/CD
.github

# Environment
.env
.env.local
.env*.local

# IDE
.vscode
.idea
*.swp

# Testing
coverage
.nyc_output

# Misc
README.md
.prettierrc
.eslintrc.json
